-- Calendar Sources RLS Policies (fixed)

-- Ensure RLS is enabled
ALTER TABLE calendar_sources ENABLE ROW LEVEL SECURITY;

-- Drop any pre-existing policies that might conflict
DROP POLICY IF EXISTS "Users can manage calendar sources for their properties" ON calendar_sources;
DROP POLICY IF EXISTS "Users can view calendar sources for their properties" ON calendar_sources;
DROP POLICY IF EXISTS "Users can insert calendar sources for their properties" ON calendar_sources;
DROP POLICY IF EXISTS "Users can update calendar sources for their properties" ON calendar_sources;
DROP POLICY IF EXISTS "Users can delete calendar sources for their properties" ON calendar_sources;

-- View
CREATE POLICY "Users can view calendar sources for their properties"
    ON calendar_sources FOR SELECT
    USING (
        property_id IN (
            SELECT id FROM properties WHERE host_id = auth.uid()
        )
    );

-- Insert
CREATE POLICY "Users can insert calendar sources for their properties"
    ON calendar_sources FOR INSERT
    WITH CHECK (
        property_id IN (
            SELECT id FROM properties WHERE host_id = auth.uid()
        )
    );

-- Update
CREATE POLICY "Users can update calendar sources for their properties"
    ON calendar_sources FOR UPDATE
    USING (
        property_id IN (
            SELECT id FROM properties WHERE host_id = auth.uid()
        )
    );

-- Delete
CREATE POLICY "Users can delete calendar sources for their properties"
    ON calendar_sources FOR DELETE
    USING (
        property_id IN (
            SELECT id FROM properties WHERE host_id = auth.uid()
        )
    );
